* {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 600px;
}

header,
footer {
  background: #000000;
  color: #ffffff;
}

header {
  padding: 10px;
}

#logo {
  font-size: 2rem;
}

nav {
  background: #e0e0e0;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 0px 30px 30px 30px;
}

p {
  line-height: 2rem;
}

#review-cards {
  display: grid;
  gap: 30px;
  justify-content: center;
}

.review-card {
  background: #e7e7e7;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.review-card img {
  height: 300px;
  object-fit: cover;
}

.review-card-key {
  font-weight: bold;
}

#single-review button {
  padding: 10px;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;;
}

#single-review-vote-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#single-review-decrement-vote {
  background: red;
}

#single-review-increment-vote {
  background: green;
}

#review-votes-not-updated {
  color: red;
}

#comment-cards {
  display: grid;
  gap: 10px;
}

.comment-card {
  background: #eeeeee;
  padding: 10px;
  border: 1px solid #b6b6b6;
}

footer {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  #review-cards {   
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}