* {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

header {
  background: #afafaf;
  padding: 10px;
}

nav {
  background: #e0e0e0;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

#logo {
  font-size: 2rem;
}

footer {
  background: #afafaf;
  padding: 10px;
}